
<script>
    document.getElementsByClassName("back-to-top").onclick = function () {
        // 不存在原生`requestAnimationFrame`，用`setTimeout`模拟替代
        if (!window.requestAnimationFrame) {
            window.requestAnimationFrame = function (cb) {
                return setTimeout(cb, 17);
            };
        }
        // 当前滚动高度
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        // step
        var step = function () {
            var distance = 0 - scrollTop;
            scrollTop = scrollTop + distance / 5;
            if (Math.abs(distance) < 1) {
                window.scrollTo(0, 0);
            } else {
                window.scrollTo(0, scrollTop);
                requestAnimationFrame(step);
            }
        };
        step();
    };
</script>

<div class="body-inner">

    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="book-header" role="navigation">
            <h1>
                <a href="https://www.fivehow.com/navigation/2017-06-06-records-navigation.html">其他</a>　
                <a href="https://www.fivehow.com/about/2017-06-06-about.html">关于</a>
            </h1>
        </div>

        <div class="page-inner">
            <div id="book-search-results">
                <div class="search-noresults">
                    <section class="normal markdown-section">
                        {{ content }}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="back-to-top">
        <i class="fa fa-arrow-up" style="color: rgb(138, 125, 120);"></i>
    </div> -->
</div>

<style>
    .back-to-top {
        position: fixed;
        z-index: 9999;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
        padding: 10px;
        right: 50px;
        bottom: 30px;
        background-color: fbfbfd00;
        text-align: center;
    }

    .back-to-top:hover {
        cursor: pointer;
    }
</style>
